# Dependencies
node_modules

# Environment variables
.env.local
.env.*.local

# Firebase keys
*firebase-adminsdk*.json
firebase-*.json

# Build output
dist

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
